<div class="container-fluid">
    <div class="page-header">
        <h1><b>SmartHome</b></h1>
    </div>

    <div class="container">
        <h2>ALUNOS TSI - IFMS - 3212</h2>
        <div class="panel-group">
            <div class="panel panel-default">


                <div class="panel panel-primary">
                    <div class="panel-heading">Alessandro Oliveira</div>
                    <div class="panel-body">AlessandroOliveira@gmail.com</div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">Luciano Freire</div>
                    <div class="panel-body">Luciano@gmail.com</div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">Thiago Oliveira</div>
                    <div class="panel-body">ThiagoOliveira@gmail.com</div>
                </div>

            </div>
        </div>
    </div>

</div>

<div class="container">
    <h2>Alunos TSI - IFMS - 3212</h2>
    <ul class="list-group">
        <li class="list-group-item list-group-item-info">Alessandro Oliveira  - Alessandro@gmail.com</li>
        <li class="list-group-item list-group-item-info">Luciano Freire  - LucianoFreire@gmail.com</li>
        <li class="list-group-item list-group-item-info">Thiago Oliveira  - ThiagoOliveira@gmail.com</li>
    </ul>
</div>

<footer class="container-fluid bg-4 text-center">
    <p>Sistema de Automacao Residencial <a href="http://gustavomaruyama.com/homepage/#!/iot-tp01">TSI - IFMS - 3212</a></p>
</footer>