<div class="container-fluid">
    <div class="page-header">
        <h1><b>SmartHome</b></h1>
    </div>

    <div class="container">

        <div class="panel-group">
            <div class="panel panel-default">


                <div class="panel panel-primary">
                    <div class="panel-heading">Alessandro Oliveira</div>
                    <div class="panel-body">AlessandroOliveira@gmail.com</div>
                </div>
                <hr>
                <div class="panel panel-primary">
                    <div class="panel-heading">Luciano Freire</div>
                    <div class="panel-body">Luciano@gmail.com</div>
                </div>
                <hr>
                <div class="panel panel-primary">
                    <div class="panel-heading">Thiago Oliveira</div>
                    <div class="panel-body">ThiagoOliveira@gmail.com</div>
                </div>

            </div>
        </div>
    </div>

</div>